<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="site-wrapper">
      <header class="main-header" style="background-color #AAAAAA">
        <div class="vertical">
          <div class="main-header-content inner">
            <a href="https://github.com/mekuls">
              <span class="fa fa-github" style="color:white;font-size:2em"></span>
            </a>
            &nbsp;
            <a class="bloglogo" href="https://twitter.com/mekuls">
              <span class="fa fa-twitter" style="color:white;font-size:2em"></span>
            </a>
            <h1 class="page-title">mekuls</h1>
            <a class="btn btn-enter" href="/blog">Enter</a>
        </div>
      </div>
      </header>
    </div>
    {{ content }}
  </body>
</html>
